* {
    margin: 0;
    padding: 0;
}

@media (max-width: 640px) {
    li {
        margin-left: 9px;
    }
}

body {
    background-image: url("https://wallpapercave.com/wp/wp2740855.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/* header */

header {
    font-size: 7px;
    width: 100%;
    height: 25px;
    background-color: black;
}

h1 {
    text-align: center;
    color: white;
    padding: 4px;
}


/* Nvabar  */

.navbar {
    display: flex;
    width: 100%;
    height: 57px;
    background-color: rgba(59, 59, 255, 0.787);
}

ul {
    list-style-type: none;
    flex-wrap: wrap;
    margin: 0 30px;
    margin-left: 0px;
}


/* navbar items  */

li {
    display: inline-block;
    margin-top: 10px;
    margin-left: 50px;
    font-size: 17px;
    padding: 7px;
}

li:hover {
    background-color: rgba(20, 20, 253, 0.843);
    border: none;
    border-radius: 10px;
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}

li:nth-child(1) {
    margin-left: 7px;
}

a {
    text-decoration: none;
    color: black;
}


/* main section  */

.main {
    display: flex;
    margin-left: 0;
    position: fixed;
    width: 100%;
    top: 76px;
    height: 1000px;
}

.main-content {
    margin: 10px 15px;
    margin-top: 180px;
    margin-left: 40px;
    width: 100%;
}

h2 {
    color: rgb(15, 12, 12);
    margin-top: 30px;
    font-size: 30px;
    margin-bottom: 10px;
    text-align: left;
    width: 40%;
}

p {
    color: rgb(15, 12, 12);
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: left;
    width: 40%;
}


/* image  */

img {
    position: relative;
    top: -30%;
    right: -64%;
    height: 250px;
    bottom: 191%;
    width: 250px;
    background: none;
}

hr {
    width: 100%;
    background-color: black;
    height: 3px;
}